<!-- HTML file containing all common layouts and links -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tester Toolkit</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='base.css') }}" type="text/css" />
    <link rel="icon" href="{{ url_for('static',filename='icon.png') }}">
</head>

<script type="text/javascript">
    window.addEventListener("resize", function() {
      if (window.matchMedia("(min-width: 500px)").matches) {
        console.log("Screen width is at least 500px")
      } else {
        console.log("Screen less than 500px")
      }
    })
</script>

<body>
    <div class="header">
        <table class="header-table">
            <tr class="header-track">
                <td class="title">
                    <a class="title-container" href="{{ url_for('main.index') }}">Tester Toolkit</a>
                </td>
                <td class="logo">
                    <img src="{{ url_for('static',filename='icon.png') }}" class="logo-image">
                </td>
                <td class="spacer">
                    
                </td>
                <td class="navbar-container">
                    <nav class="navbar">
                        <div class="navbar-links">
                            <ul>
                                <li><a href="{{ url_for('main.index') }}" class="navbar-item">
                                    Home
                                </a></li>
                                {% if not current_user.is_authenticated %}
                                <li><a href="{{ url_for('auth.login') }}" class="navbar-item">
                                    Login
                                </a></li>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                <li><a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                    Logout
                                </a></li>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                <li><a href="{{ url_for('main.createClient') }}" class="navbar-item">
                                    Create Client
                                </a></li>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                <li><a href="{{ url_for('main.generators') }}" class="navbar-item">
                                    Generators
                                </a></li>
                                {% endif %}
                                {% if current_user.is_authenticated and current_user.admin == 1 %}
                                <li><a href="{{ url_for('auth.createUser') }}" class="navbar-item">
                                    Create Toolkit User
                                </a></li>
                                {% endif %}
                                <div class="lang-selection">
                                    <div>
                                        <a href="{{ url_for('main.setEng') }}" class="navbar-item-lang">
                                            <img src="{{ url_for('static',filename='eng.png') }}" class="eng-image">
                                        </a>
                                    </div>
                                    <div>
                                        <a href="{{ url_for('main.setCs') }}" class="navbar-item-lang">
                                            <img src="{{ url_for('static',filename='cs.png') }}" class="cs-image">
                                        </a>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </nav>
                </td>
            </tr>
        </table>
    </div>
    
    <div class="main-body">
        <div class="main-container">
           {% block content %}
           {% endblock %}
        </div>
    </div>
</body>

</html>