<!-- HTML file containing all common layouts and links -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tester Toolkit</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='base.css') }}" type="text/css" />
    <link rel="icon" href="{{ url_for('static',filename='icon.png') }}">
</head>

<body>
    <nav class="navbar">
        <div class="brand-title"><a href="{{ url_for('main.index') }}">Tester Toolkit</a><img src="{{ url_for('static',filename='icon.png') }}" class="logo-image"></div>
        <a href="#" class="toggle-button" id="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.createClient') }}">Create Client</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.generators') }}">Generators</a></li>
                {% endif %}
                {% if current_user.is_authenticated and current_user.admin == 1 %}
                <li><a href="{{ url_for('auth.createUser') }}">Create Toolkit User</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="lang-selection">
            <div>
                <a href="{{ url_for('main.setEng') }}" class="navbar-item-lang">
                    <img src="{{ url_for('static',filename='eng.png') }}" class="eng-image">
                </a>
            </div>
            <div>
                <a href="{{ url_for('main.setCs') }}" class="navbar-item-lang">
                    <img src="{{ url_for('static',filename='cs.png') }}" class="cs-image">
                </a>
            </div>
        </div>
    </nav>                    
    
    <div class="main-body">
        <div class="main-container">
           {% block content %}
           {% endblock %}
        </div>
    </div>
</body>

<script type="text/javascript">
    const toggleButton = document.getElementById('toggle-button')
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]
    const toggleButtonLower = document.getElementById('toggle-button-lower')
    const navbarLinksLower = document.getElementsByClassName('navbar-links-lower')[0]

    toggleButton.addEventListener('click', () => {
      navbarLinks.classList.toggle('active')
    })

    toggleButtonLower.addEventListener('click', () => {
      navbarLinksLower.classList.toggle('active')
    })
</script>

</html>