<!-- HTML file containing the main page -->

{% extends "base.html" %}

{% block content %}
<table class="client-table">
    <tr class="client-track">
        <td class="client-container">
            <div class="client-button-box">
                <a href="{{ url_for('main.createIndividual') }}" class="client-item">
                    Individual
                </a>
                <a href="{{ url_for('main.createLegalEntity') }}" class="client-item">
                    Legal Entity
                </a>
                <a href="{{ url_for('main.createMinor') }}" class="client-item">
                    Minor/Legaly Incapable
                </a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}