{% extends "base.html" %}

{% block content %}
<div class="login-body">
    <div class="login-box">
        <div>
            <content class="login-title">Create User</content>    
        </div>
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="login-input" type="text" name="email" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="login-input" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="login-input" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="login-button">Create User</button>
        </form>
    </div>
</div>
{% endblock %}