<!-- HTML file containing the main page -->

{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <td class="navbar-container">
            <div class="navbar">
                <a href="{{ url_for('main.createIndividual') }}" class="navbar-item">
                    Individual
                </a>
                <a href="{{ url_for('auth.createLegalEntity') }}" class="navbar-item">
                    Legal Entity
                </a>
                <a href="{{ url_for('main.createMinor') }}" class="navbar-item">
                    Minor/Legaly Incapable
                </a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}