<!-- HTML file containing the main page -->

{% extends "createClient.html" %}

{% block creation %}
<script type="text/javascript">  
    function copyInputValue(findId) {
      // Get the text field
      var copyText = document.getElementById(findId).value;
      console.log(copyText)

      // Copy the text inside the text field
      navigator.clipboard.writeText(copyText);
    }

</script>

<div class="help-container">
    <a href="#" class="toggle-button-help" id="toggle-button-help">Need help?</a>
    <div class="helptext" id="helptext">
        <p>
            Legend
        </p>
        <br>
        <p>
            This section enables you to create data for Individual clients.
        </p>
        <br>
        <p>
            Here you can use the Toolkit to generate a complete information package necessary for creation of a new client for the purpouse of testing. 
        </p>
        <p>
            Use funky names is an option to generate non-existant easily momorizable names.
        </p>
        <p>
            Gender sets the gender of the created client.
        </p>
        <p>
            The minor option allows you to set the created client to be a minor.
        </p>
        <p>
            The Set birthdate option allows you to enter a specific date of birth for the client in the field below. In this case the Minor? field is ignored.
        </p>
        <p>
            The Birth date sets the specific date of birth of the client, but only if the option above is set to Yes.
        </p>
        <p>
            Nationality field sets the country of origin for the created client.
        </p>
    </div>
</div>

<form method="POST" action="/createIndividual">
    <div class="creation-content">
        <table class="creation-table">
            {% with messages = get_flashed_messages() %}  
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="10">                                      
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>                    
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="individualUseFunky">Use Funky Names?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-zero" type="checkbox" id="individualUseFunky" name="individualUseFunky" {{ "checked" if individualUseFunky == "on" }}>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="individualGender">Gender</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="individualGender" id="individualGender">
                        <option value="male" {% if individualGender=="male" %} selected {% endif %}>Male</option>
                        <option value="female" {% if individualGender=="female" %} selected {% endif %}>Female</option>
                    </select>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="individualIsMinor">Minor?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-zero" type="checkbox" id="individualIsMinor" name="individualIsMinor" {{ "checked" if individualIsMinor == "on" }}>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="individualSetBD" id="individualSetBD">Set Birthdate?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-zero" type="checkbox" id="individualSetBDBox" name="individualSetBDBox" {{ "checked" if individualSetBDBox == "on" }}>
                </td>
            </tr>
            <tr class="generators-input-track dateHidden" id="dateHidden">
                <td class="generators-input-column">
                    <label class="generators-label" for="dateStart">Birth date:</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-wide" type="date" id="dateBD" name="dateBD" value="{{dateBD}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="individualNationality">Nationality</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="individualNationality" id="individualNationality">
                        <option value="cz" {% if individualNationality=="cz" %} selected {% endif %}>CZ</option>
                        <option value="eu" {% if individualNationality=="eu" %} selected {% endif %}>EU</option>
                        <option value="gb" {% if individualNationality=="gb" %} selected {% endif %}>GB</option>
                        <option value="us" {% if individualNationality=="us" %} selected {% endif %}>USA</option>
                    </select>
                </td>
            </tr>       
            <tr class="generators-input-track">
                <td colspan="2">
                    <input class="generators-button" type="submit" value="Generate">                        
                </td>
            </tr>
        </table>
    </div>
</form>
{% if individualCreated|length > 0 %}
<div class="creation-content-lower">
    <div class="generated-content-title">Client</div>
    <div class="creation-content-line">
        <label class="generators-label-created">Name: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualNameInput" type="text" name="individualNameInput" value="{{individualCreated[0][0]}} {{individualCreated[0][1]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualNameInput')" style="float: right;"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Date of Birth: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualDOBInput" type="text" name="individualDOBInput" value="{{individualCreated[4]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualDOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        {% if individualNationality == "cz" %}
        <label class="generators-label-created">PID: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualPIDInput" type="text" name="individualPIDInput" value="{{individualCreated[5]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualPIDInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">ID: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualPassInput" type="text" name="individualPassInput" value="{{individualCreated[3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualPassInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        {% endif %}
        {% if individualNationality != "cz" %}
        <label class="generators-label-created">Passport: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualPassInput" type="text" name="individualPassInput" value="{{individualCreated[3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualPassInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        {% endif %}
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Address: </label>
        <div class="creation-content-line-inner">             
            <input class="generators-input-created" id="individualAddressInput" type="text" name="individualAddressInput" value="{{individualCreated[1][0]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualAddressInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">City of Birth: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualCOBInput" type="text" name="individualCOBInput" value="{{individualCreated[1][1]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualCOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Country of Birth: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualCountryOBInput" type="text" name="individualCountryOBInput" value="{{individualCreated[6]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualCountryOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Phone: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualPhoneInput" type="text" name="individualPhoneInput" value="{{individualCreated[2]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualPhoneInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Username: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualUsernameInput" type="text" name="individualUsernameInput" value="{{individualCreated[0][2]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualUsernameInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Email: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualMailInput" type="text" name="individualMailInput" value="{{individualCreated[0][3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualMailInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>

{% endif %}

<script type="text/javascript">
    const helpButton = document.getElementById('toggle-button-help')
    const helptext = document.getElementById('helptext')

    helpButton.addEventListener('click', () => {
      helptext.classList.toggle('active')
    })
</script>

{% endblock %}