<!-- HTML file containing the main page -->

{% extends "base.html" %}

{% block content %}
<div class="spacer"></div>
<nav class="navbar-lower">
    <a href="#" class="toggle-button-lower" id="toggle-button-lower">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links-lower">
        <ul>
            <li><a href="{{ url_for('main.createIndividual') }}">Individual</a></li>
            <li><a href="{{ url_for('main.createBussiness') }}">Bussiness Entity</a></li>
            <li><a href="{{ url_for('main.createLegalEntity') }}">Legal Entity</a></li>
        </ul>
    </div>
</nav>
<div class="main-container">
   {% block creation %}
   {% endblock %}
</div>

{% endblock %}