<!-- HTML file containing the main page -->

{% extends "generators.html" %}

{% block generation %}
<form class="creation-form">
    <table class="creation-table">
        <tr class="creation-track">
            <td class="creation-column">
                <div class="creation-container">
                    <form method="POST" action="/login">
                        <div class="field">
                            <div class="control">
                                <input class="login-input" type="text" name="username" placeholder="Your Name" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="login-input" type="password" name="password" placeholder="Your Password">
                            </div>
                        </div>
                        <div class="field">
                        </div>
                        <button class="login-button">Login</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</form>
<div>
    {% block generatedContent %}
    {% endblock %}
</div>
{% endblock %}