<!-- HTML file containing the main page -->

{% extends "generators.html" %}

{% block generation %}
<script type="text/javascript">  
    function showPopUp() {
        var popup = document.getElementById("legend");
        popup.classList.toggle("show");
    }
</script>
<form method="POST" action="/generateIBAN">
    <div class="creation-content">
        <div class="popup" onclick="showPopUp()">Need help?
            <span class="popuptext" id="legend">
                <p>
                    Legend
                </p>
                <p>
                    IBAN is a number used in transactions to foreign countries or banks.

                    Here you can generate a new IBAN number from some given parameters. The Country field represents the country where the bank for
                    the account is based. Bank code is usually represented by a four digit code (ex. 0300). The Account area code is the part of the account number itself, that comes before the dash (19-123).
                    Not all acounts have to contain an area code, so this field is optional.
                    Account number is the actual number that comes after the dash (19-123)

                    The generated number is than displayed at the bottom of the screen.
                </p>
            </span>
        </div>
        <table class="creation-table">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="2">
                    {% for category, message in messages %}
                        <div class="{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="ibanGenCountry">Country</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input-wide" name="ibanGenCountry" id="ibanGenCountry">
                        <option value="CZ" {% if ibanGenCountry=="CZ" %} selected {% endif %}>Czech Republic</option>
                        <option value="AL" {% if ibanGenCountry=="AL" %} selected {% endif %}>Albania</option>
                        <option value="AD" {% if ibanGenCountry=="AD" %} selected {% endif %}>Andorra</option>
                        <option value="AZ" {% if ibanGenCountry=="AZ" %} selected {% endif %}>Azerbaijan</option>
                        <option value="BH" {% if ibanGenCountry=="BH" %} selected {% endif %}>Bahrain</option>
                        <option value="BE" {% if ibanGenCountry=="BE" %} selected {% endif %}>Belgium</option>
                        <option value="BY" {% if ibanGenCountry=="BY" %} selected {% endif %}>Belarus</option>
                        <option value="BA" {% if ibanGenCountry=="BA" %} selected {% endif %}>Bosnia and Herzegovina</option>
                        <option value="BR" {% if ibanGenCountry=="BR" %} selected {% endif %}>Brazil</option>
                        <option value="VG" {% if ibanGenCountry=="VG" %} selected {% endif %}>British Virgin Islands</option>
                        <option value="BG" {% if ibanGenCountry=="BG" %} selected {% endif %}>Bulgaria</option>
                        <option value="BI" {% if ibanGenCountry=="BI" %} selected {% endif %}>Burundi</option>
                        <option value="ME" {% if ibanGenCountry=="ME" %} selected {% endif %}>Montenegro</option>
                        <option value="DK" {% if ibanGenCountry=="DK" %} selected {% endif %}>Denmark</option>
                        <option value="DO" {% if ibanGenCountry=="DO" %} selected {% endif %}>Dominican republic</option>
                        <option value="DJ" {% if ibanGenCountry=="DJ" %} selected {% endif %}>Djibouti</option>
                        <option value="EG" {% if ibanGenCountry=="EG" %} selected {% endif %}>Egypt</option>
                        <option value="EE" {% if ibanGenCountry=="EE" %} selected {% endif %}>Estonia</option>
                        <option value="FI" {% if ibanGenCountry=="FI" %} selected {% endif %}>Finland</option>
                        <option value="FR" {% if ibanGenCountry=="FR" %} selected {% endif %}>France</option>
                        <option value="GI" {% if ibanGenCountry=="GI" %} selected {% endif %}>Gibraltar</option>
                        <option value="GE" {% if ibanGenCountry=="GE" %} selected {% endif %}>Georgia</option>
                        <option value="GT" {% if ibanGenCountry=="GT" %} selected {% endif %}>Guatemala</option>
                        <option value="HR" {% if ibanGenCountry=="HR" %} selected {% endif %}>Croatia</option>
                        <option value="IQ" {% if ibanGenCountry=="IQ" %} selected {% endif %}>Iraq</option>
                        <option value="IE" {% if ibanGenCountry=="IE" %} selected {% endif %}>Ireland</option>
                        <option value="IS" {% if ibanGenCountry=="IS" %} selected {% endif %}>Iceland</option>
                        <option value="IT" {% if ibanGenCountry=="IT" %} selected {% endif %}>Italy</option>
                        <option value="IL" {% if ibanGenCountry=="IL" %} selected {% endif %}>Israel</option>
                        <option value="JO" {% if ibanGenCountry=="JO" %} selected {% endif %}>Jordan</option>
                        <option value="QA" {% if ibanGenCountry=="QA" %} selected {% endif %}>Catarrh</option>
                        <option value="KZ" {% if ibanGenCountry=="KZ" %} selected {% endif %}>Kazakhstan</option>
                        <option value="XK" {% if ibanGenCountry=="XK" %} selected {% endif %}>Kosovo</option>
                        <option value="CR" {% if ibanGenCountry=="CR" %} selected {% endif %}>Costa Rica</option>
                        <option value="KW" {% if ibanGenCountry=="KW" %} selected {% endif %}>Kuwait</option>
                        <option value="CY" {% if ibanGenCountry=="CY" %} selected {% endif %}>Cyprus</option>
                        <option value="LB" {% if ibanGenCountry=="LB" %} selected {% endif %}>Lebanon</option>
                        <option value="LY" {% if ibanGenCountry=="LY" %} selected {% endif %}>Libya</option>
                        <option value="LI" {% if ibanGenCountry=="LI" %} selected {% endif %}>Lichtenstein</option>
                        <option value="LT" {% if ibanGenCountry=="LT" %} selected {% endif %}>Lithuania</option>
                        <option value="LV" {% if ibanGenCountry=="LV" %} selected {% endif %}>Latvia</option>
                        <option value="LU" {% if ibanGenCountry=="LU" %} selected {% endif %}>Luxembourg</option>
                        <option value="HU" {% if ibanGenCountry=="HU" %} selected {% endif %}>Hungary</option>
                        <option value="MT" {% if ibanGenCountry=="MT" %} selected {% endif %}>Malta</option>
                        <option value="MU" {% if ibanGenCountry=="MU" %} selected {% endif %}>Mauritius</option>
                        <option value="MR" {% if ibanGenCountry=="MR" %} selected {% endif %}>Mauritania</option>
                        <option value="MD" {% if ibanGenCountry=="MD" %} selected {% endif %}>Moldova</option>
                        <option value="MC" {% if ibanGenCountry=="MC" %} selected {% endif %}>Monaco</option>
                        <option value="DE" {% if ibanGenCountry=="DE" %} selected {% endif %}>Germany</option>
                        <option value="NL" {% if ibanGenCountry=="NL" %} selected {% endif %}>Netherlands</option>
                        <option value="NO" {% if ibanGenCountry=="NO" %} selected {% endif %}>Norway</option>
                        <option value="PK" {% if ibanGenCountry=="PK" %} selected {% endif %}>Pakistan</option>
                        <option value="PS" {% if ibanGenCountry=="PS" %} selected {% endif %}>Palestine</option>
                        <option value="PL" {% if ibanGenCountry=="PL" %} selected {% endif %}>Poland</option>
                        <option value="PT" {% if ibanGenCountry=="PT" %} selected {% endif %}>Portugal</option>
                        <option value="AT" {% if ibanGenCountry=="AT" %} selected {% endif %}>Austria</option>
                        <option value="RO" {% if ibanGenCountry=="RO" %} selected {% endif %}>Romania</option>
                        <option value="RU" {% if ibanGenCountry=="RU" %} selected {% endif %}>Russia</option>
                        <option value="GR" {% if ibanGenCountry=="GR" %} selected {% endif %}>Greece</option>
                        <option value="SV" {% if ibanGenCountry=="SV" %} selected {% endif %}>El Salvador</option>
                        <option value="SM" {% if ibanGenCountry=="SM" %} selected {% endif %}>San Marino</option>
                        <option value="SA" {% if ibanGenCountry=="SA" %} selected {% endif %}>Saudi Arabia</option>
                        <option value="MK" {% if ibanGenCountry=="MK" %} selected {% endif %}>North Macedonia</option>
                        <option value="SC" {% if ibanGenCountry=="SC" %} selected {% endif %}>Seychelles</option>
                        <option value="SK" {% if ibanGenCountry=="SK" %} selected {% endif %}>Slovakia</option>
                        <option value="SI" {% if ibanGenCountry=="SI" %} selected {% endif %}>Slovenia</option>
                        <option value="AE" {% if ibanGenCountry=="AE" %} selected {% endif %}>United Arab Emirates</option>
                        <option value="RS" {% if ibanGenCountry=="RS" %} selected {% endif %}>Serbia</option>
                        <option value="SD" {% if ibanGenCountry=="SD" %} selected {% endif %}>Sudan</option>
                        <option value="LC" {% if ibanGenCountry=="LC" %} selected {% endif %}>Saint Lucia</option>
                        <option value="ST" {% if ibanGenCountry=="ST" %} selected {% endif %}>Saint Thomas and Prince's Island</option>
                        <option value="ES" {% if ibanGenCountry=="ES" %} selected {% endif %}>Spain</option>
                        <option value="SE" {% if ibanGenCountry=="SE" %} selected {% endif %}>Sweden</option>
                        <option value="CH" {% if ibanGenCountry=="CH" %} selected {% endif %}>Switzerland</option>
                        <option value="TN" {% if ibanGenCountry=="TN" %} selected {% endif %}>Tunisia</option>
                        <option value="TR" {% if ibanGenCountry=="TR" %} selected {% endif %}>Turkey</option>
                        <option value="UA" {% if ibanGenCountry=="UA" %} selected {% endif %}>Ukraine</option>
                        <option value="VA" {% if ibanGenCountry=="VA" %} selected {% endif %}>Vatican</option>
                        <option value="GB" {% if ibanGenCountry=="GB" %} selected {% endif %}>Great Britain</option>
                        <option value="TL" {% if ibanGenCountry=="TL" %} selected {% endif %}>East Timor</option>,
                    </select>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">            
                    <label class="generators-label" for="ibanGenBankCode">Bank Code</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input" type="number" id="ibanGenBankCode" name="ibanGenBankCode" value="{{ibanGenBankCode}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">            
                    <label class="generators-label" for="ibanGenAccountID">Account Area Code</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input" type="number" id="ibanGenAccountID" name="ibanGenAccountID" value="{{ibanGenAccountID}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">            
                    <label class="generators-label" for="ibanGenAccountNum">Account Number</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input" type="number" id="ibanGenAccountNum" name="ibanGenAccountNum" value="{{ibanGenAccountNum}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td colspan="10">
                    <input class="generators-button" type="submit" value="Generate">                        
                </td>
            </tr>
        </table>
    </div>
    {% if results|length > 0 %}
        <div class="creation-content-lower">
            <div class="generated-content-title">Generated Names</div>
            {% for i in results %}
                <content class="generated-content-item" style="white-space: nowrap;">{{ i }} </content>
            {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock %}