<!-- HTML file containing the main page -->

{% extends "base.html" %}

{% block content %}
<table class="client-table">
    <tr class="client-track">
        <td class="client-container">
            <div class="client-button-box">
                <a href="{{ url_for('main.generateIBAN') }}" class="client-item">
                    IBAN
                </a>
                <a href="{{ url_for('main.validateIBAN') }}" class="client-item">
                    Validate IBAN
                </a>
                <a href="{{ url_for('main.generateSIPO') }}" class="client-item">
                    SIPO
                </a>
                <a href="{{ url_for('main.generateCIN') }}" class="client-item">
                    CIN
                </a>
                <a href="{{ url_for('main.generateDate') }}" class="client-item">
                    Date
                </a>
                <a href="{{ url_for('main.generateMail') }}" class="client-item">
                    E-Mail
                </a>
                <a href="{{ url_for('main.generateNumber') }}" class="client-item">
                    Phone Number
                </a>
                <a href="{{ url_for('main.generateRandomName') }}" class="client-item">
                    Name
                </a>
                <a href="{{ url_for('main.generateRandom') }}" class="client-item">
                    Random Numbers
                </a>
            </div>
        </td>
    </tr>
</table>
<div class="main-container">
   {% block generation %}
   {% endblock %}
</div>

{% endblock %}