<!-- HTML file containing the main page -->

{% extends "base.html" %}

{% block content %}
<div class="spacer"></div>
<nav class="navbar-lower">
    <div class="navbar-links-lower">
        <ul>
            <li><a href="{{ url_for('main.generateIBAN') }}">Generate IBAN</a></li>
            <li><a href="{{ url_for('main.validateIBAN') }}">Validate IBAN</a></li>
            <li><a href="{{ url_for('main.generateSIPO') }}">SIPO</a></li>
            <li><a href="{{ url_for('main.generateCIN') }}">CIN</a></li>
            <li><a href="{{ url_for('main.generateDate') }}">Date</a></li>
            <li><a href="{{ url_for('main.generateMail') }}">E-Mail</a></li>
            <li><a href="{{ url_for('main.generateNumber') }}">Phone Number</a></li>
            <li><a href="{{ url_for('main.generateRandomName') }}">Name</a></li>
            <li><a href="{{ url_for('main.generateRandom') }}">Random Numbers</a></li>
        </ul>
    </div>
</nav>
<div class="main-container">
   {% block generation %}
   {% endblock %}
</div>

{% endblock %}