<!-- HTML file containing the main page -->

{% extends "base.html" %}

{% block content %}
<div class="index-info">
  <h2>
    Tester Toolkit is a tool for creating data used in testing of clients.
  </h2>
  <h2>
    List of tools contains:
  </h2>
  <h2>
    Creation of complete data for making a new user (individuals, bussiness entities, legal entities and minors)
  </h2>
  <h2>
    Creation and validation of IBAN
  </h2>
  <h2>
    Creation of SIPO numbers
  </h2>
  <h2>
    Creation of CIN
  </h2>
  <h2>
    Name, date, phone number, e-mail and random number generators 
  </h2>
</div>
{% endblock %}