<!-- HTML File containing all the necessary forms for login page -->

{% extends "base.html" %}

{% block content %}
<div class="login-body">
	<div class="login-box">
		<div>
			<content class="login-title">Login</content>	
		</div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="login-input" type="text" name="login-name" placeholder="Your Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="login-input" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
            </div>
            <button class="login-button">Login</button>
        </form>
    </div>
</div>
{% endblock %}