<!-- HTML file containing the main page -->

{% extends "generators.html" %}

{% block generation %}
<div class="help-container">
    <a href="#" class="toggle-button-help" id="toggle-button-help">Need help?</a>
    <div class="helptext" id="helptext">
        <p>
            Legend
        </p>
        <p>
            This section of the Toolkit lets you check if an IBAN number is valid, or if there is some error or type, which would result in a failed transaction.
        </p>
    </div>
</div>

<form method="POST" action="/validateIBAN">
    <div class="creation-content">
        <table class="creation-table">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <tr class="creation-track">
                        <td class="creation-column" colspan="2">
                            {% for category, message in messages %}
                                <div class="{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column-l">            
                    <label class="generators-label" for="ibanValNumber">IBAN to Validate</label>
                </td>
                <td class="generators-input-column-r">
                    <input class="generators-input-wide" type="text" id="ibanValNumber" name="ibanValNumber" value="{{ibanValNumber}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td colspan="10">
                    <input class="generators-button" type="submit" value="Validate">                        
                </td>
            </tr>
        </table>
    </div>
    {% if results|length > 0 %}
    <div class="creation-content-lower">
        <div class="generated-content-title">IBAN Info</div>
        <table class="creation-table-created">
            <tr class="creation-track">
                <td class="creation-column" colspan="4">
                    <label class="generators-label-created">Formated: </label>
                </td>
            </tr>
            <tr class="creation-track">
                <td class="creation-column" colspan="4">
                    <input class="generators-input-created" id="ibanFormated" type="text" name="ibanFormated" value="{{results[0]}}" readonly>
                </td>
            </tr>
            <tr class="creation-track">
            </tr>
            <tr class="creation-track">
                <td class="creation-column">
                    <label class="generators-label-created">BIC: </label>
                </td>
                <td class="creation-column">
                    <input class="generators-input-created" id="ibanBic" type="text" name="ibanBic" value="{{results[5]}}" readonly>
                </td>
                <td class="creation-column">
                    <label class="generators-label-created">Bank Code: </label>
                </td>
                <td class="creation-column">
                    <input class="generators-input-created" id="ibanBankCode" type="text" name="ibanBankCode" value="{{results[2]}}" readonly>
                </td>
            </tr>
            
            <tr class="creation-track">
                <td class="creation-column">
                    <label class="generators-label-created">Account Code: </label>
                </td>
                <td class="creation-column">
                    <input class="generators-input-created" id="ibanAccount" type="text" name="ibanAccount" value="{{results[3]}}" readonly>
                </td>
                <td class="creation-column">
                    <label class="generators-label-created">Country Name: </label>
                </td>
                <td class="creation-column">
                    <input class="generators-input-created" id="ibanCountryName" type="text" name="ibanCountryName" value="{{results[1]}}  {{results[6]}}" readonly>
                </td>
            </tr>
        </table>
    </div>
    {% endif %}
</form>

<script type="text/javascript">
    const helpButton = document.getElementById('toggle-button-help')
    const helptext = document.getElementById('helptext')

    helpButton.addEventListener('click', () => {
      helptext.classList.toggle('active')
    })
</script>

{% endblock %}