/*Classes for the base page*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
	--size-divisor: 1;
}

html {
	background-color: #666;
	color: white;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
}

.navbar-lower {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #333;
	color: white;
}

.brand-title {
	font-size: 2.5rem;
	margin-left: 1rem;
}

.brand-title a {
	text-decoration: none;
	color: white;
}

.navbar-links {
	padding-right: 3rem;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}

.navbar-links li:hover {
	background-color: #555;
}

.navbar-links-lower {
	padding-right: 3rem;
	margin-left: auto;
}

.navbar-links-lower ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links-lower li {
	list-style: none;
}

.navbar-links-lower li a {
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}

.navbar-links-lower li:hover {
	background-color: #555;
}

.spacer {
	height: .2rem;
}

.logo-image {
	width: 3rem;
	padding-left: 1rem;
}

.lang-selection {
	position: absolute;
	top: 0.1rem;
	right: 0.5rem;
	display: flex;
	flex-direction: column;
}

.toggle-button {
	position: absolute;
	top: 0.75rem;
	right: 3rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
}

.toggle-button-lower {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 3rem;
	margin-left: auto;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button-lower .bar {
	height: 3px;
	width: 100%;
	background-color: white;
}

.main-container {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

/*Classes for the login blueprint*/

.login-title-box {
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
}

.login-title {
	font-weight: bold;
	font-family: "Arial";
	font-size: 24px;
}

.login-title-checkbox {
	font-weight: bold;
	font-family: "Arial";
	display: inline-block;
	vertical-align: middle;
}

.login-input {
	border: 4px solid #333;
	width: 90%;
	height: 40px;
	text-align: center;
	margin-top: 15px;
}

.login-input-checkbox {
	border: 4px solid #333;
	width: 30px;
	height: 30px;
	text-align: center;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.login-input:focus {
    outline-width: 0;
}

.login-button {
	background-color: #333;
	border: 4px solid #333;
	color: white;
	width: 90%;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 50px;
}

.login-button:hover {
	border: 4px solid #333;
	background-color: #555;
	color: white;
	height: 50px;
}

.login-box {
	color: white;
	text-align: center;
	width: calc(400px / var(--size-divisor));
	margin: 0 auto;
	margin-top: 100px;
}

.index-info {
	text-align: left;
	width: 75%;
	margin: 0 auto;
	margin-top: 20px;
}

.index-top {
	text-align: center;
	width: 75%;
	margin: 0 auto;
	margin-top: 30px;
}

.login-body {
	width: 100%;
}

.notification {
	color: white;
	background-color: red;
	border: 4px solid darkred;
	font-size: 24px;
	font-weight: bold;
	width: 90%;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 15px;
}

.message {
	color: white;
	background-color: red;
	border: 4px solid darkred;
	font-size: 24px;
	font-weight: bold;
	width: 90%;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 15px;
}

.valid {
	color: white;
	background-color: green;
	border: 4px solid darkgreen;
	font-size: 24px;
	font-weight: bold;
	width: 90%;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 15px;
}

.checkbox-box {
	margin-top: 15px;
}

/*Classes for client creation menu*/

.client-table {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	margin-top: 25px;
}

.client-track {
	height: 100px;
}

.client-button-box {
	white-space: nowrap;
}

a.client-item {
	border: 4px solid #6e95ff;
	background-color: rgba(110, 149, 255, 0.6);
	color: black;
	width: auto;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-left: 7px;
}

a.client-item:hover {
	border: 4px solid #6e95ff;
	background-color: #6e95ff;
	color: white;
}

/*Classes for client creation form*/

.creation-content {
	text-align: center;
	width: calc(400px / var(--size-divisor));
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	justify-content: center;
}

.creation-content-line {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.creation-content-lower {
	text-align: center;
	width: calc(1200px / var(--size-divisor));
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	justify-content: center;
}

.creation-table {
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.generators-input-numbers {
	border: 4px solid #6e95ff;
	width: 24px;
	height: 24px;
	text-align: center;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.generators-input-zero {
	border: 4px solid #6e95ff;
	width: 24px;
	height: 24px;
	text-align: center;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.generators-input {
	border: 4px solid #333;
	font-size: 18px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.generators-input-wide {
	border: 4px solid #6e95ff;
	font-size: 18px;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.generators-input:focus {
    outline-width: 0;
}
.generators-button {
	border: 4px solid #333;
	background-color: #333;
	color: white;
	width: 100%;
	height: 55px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}
.generators-button:hover {
	border: 4px solid #333;
	background-color: #555;
	color: white;
}

.generators-button-small {
	border: 4px solid #6e95ff;
	background-color: rgba(110, 149, 255, 0.6);
	color: black;
	width: 100%;
	height: 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
}

.generators-button-small:hover {
	border: 4px solid #6e95ff;
	background-color: #6e95ff;
	color: white;
}

.generators-input-column{
	width: 50%;
}

.generators-input-track{
	height: 25px;
	margin-top: 5px;
}

.generators-label {
	font-size: 18px;
}

.generated-content-title {
	font-weight: bold;
	font-family: "Arial";
	font-size: 24px;
	margin: 25px;
}

.generated-content-item {
	font-size: 18px;
	padding: 10px;
	overflow-wrap: break-word;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  justify-self: right;
}

.popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: -105%;
  font-size: 15px;
  font-weight: normal;
}

.popup .popuptextCS {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: -75%;
  font-size: 15px;
  font-weight: normal;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Fade in the popup */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

.creation-table-created {
	justify-content: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	width: 80%;
}

.generators-input-created {
	border: 4px solid #333;
	display: inline-block;
	font-size: 18px;
	width: 100%;
	height: 35px;
	text-align: center;
	margin: 0 auto;

}
.generators-input-created:focus {
    outline-width: 0;
}

.creation-track {
	height: 40px;
	padding-top: 10px;
}

.generators-label-created {
	font-size: 18px;
	padding-left: 5px;
	width: 100%;
}

.button-copy {
	margin-left: 10px;
	border: none;
	width: 100px;
	background-color: #666;
}
.button-copy:hover {
	background-color: #333;
	color: white;
}

.copy-image {
	width: 1rem;
	vertical-align: middle;
}

/* @media calls for site responsivity */
@media (max-width: 1000px) {
	:root {
		--size-divisor: 1.2;
	}

	.toggle-button {
		display: flex;
	}

	.toggle-button-lower {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
		padding: 0rem;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-lower {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li {
		text-align: right;
	}

	.navbar-links li a {
		padding: .5rem 3rem;
	}

	.navbar-links.active{
		display: flex;
	}


	.navbar-links-lower {
		display: none;
		width: 100%;
		padding: 0rem;
	}

		.navbar-links-lower ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links-lower li {
		text-align: right;
	}

	.navbar-links-lower li a {
		padding: .5rem 3rem;
	}

	.navbar-links-lower.active{
		display: flex;
	}
}