/*Classes for the base page*/

* {
	margin: 0;
	padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
	background-color: rgba(110, 149, 255, 0.6);
}

.header-track {
	height: 75px;
}

.navbar-container {
	width: auto;
}

.navbar {
	float: right;
	white-space: nowrap;
	padding-right: 25px;
	margin: 0 auto;
	vertical-align: middle;
}

.logo {
	width: 10%;
}

.title {
	width: 15%;
}

.title-container {
	font-size: 45px;
	font-weight: bold;
	margin-left: 25px;
	padding-left: 25px;
	white-space: nowrap;
	float: right;
	text-decoration: none;
	color: black;
}

.logo-image {
	width: 45px;
	float: left;
	margin-left: 15px;
	padding-left: 15px;
}

a.navbar-item {
	border: 4px solid #6e95ff;
	border-radius: 10px;
}

a.navbar-item:link {
  color: black;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.navbar-item:visited {
  color: black;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.navbar-item:hover {
  background-color: #6e95ff;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.navbar-item:active {
  background-color: #6e95ff;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.navbar-item-lang {
	text-align: center;
  display: inline-block;
}

.lang-selection {
	display: inline-block;
	margin: 0 auto;
	vertical-align: middle;
}

.main-container {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

/*Classes for the login blueprint*/

.login-title-box {
	width: 95%;
	margin: 0 auto;
	margin-top: 15px;
}

.login-title, .generated-content-title{
	font-weight: bold;
	font-family: "Arial";
	font-size: 24px;
}

.login-title-checkbox {
	font-weight: bold;
	font-family: "Arial";
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
}

.login-input {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	width: 90%;
	height: 40px;
	font-size: 18px;
	text-align: center;
	margin-top: 15px;
}

.login-input-checkbox {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.login-input:focus {
    outline-width: 0;
}

.login-button {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	background-color: rgba(110, 149, 255, 0.6);
	color: black;
	width: 95%;
	/*padding: 15px 32px;*/
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}

.login-button:hover {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	background-color: #6e95ff;
	color: white;
}

.login-box {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	text-align: center;
	width: 25%;
	margin: 0 auto;
	margin-top: 100px;
}

.login-body {
	width: 100%;
}

.notification {
	color: white;
	background-color: red;
	border: 4px solid red;
	border-radius: 10px;
	font-size: 24px;
	font-weight: bold;
	width: 90%;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 15px;
}

.checkbox-box {
	margin-top: 15px;
}

/*Classes for client creation menu*/

.client-table {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	margin-top: 75px;
}

.client-track {
	height: 100px;
}

.client-button-box {
	white-space: nowrap;
}

a.client-item {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	background-color: rgba(110, 149, 255, 0.6);
	color: black;
	width: auto;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-left: 7px;
}

a.client-item:hover {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	background-color: #6e95ff;
	color: white;
}

/*Classes for client creation form*/

.creation-content {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	justify-content: center;
}

.creation-table {
	justify-content: center;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	width: 30%;
}

.generators-input-numbers {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	width: 24px;
	height: 24px;
	text-align: center;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.generators-input-zero {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	width: 24px;
	height: 24px;
	text-align: center;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.generators-input {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	font-size: 18px;
	width: 40%;
	text-align: center;
	margin: 0 auto;
}
.generators-input:focus {
    outline-width: 0;
}
.generators-button {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	background-color: rgba(110, 149, 255, 0.6);
	color: black;
	width: 50%;
	height: 55px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 5px;
}
.generators-button:hover {
	border: 4px solid #6e95ff;
	border-radius: 10px;
	background-color: #6e95ff;
	color: white;
}

.generators-input-column{
	width: 50%;
}

.generators-input-track{
	height: 25px;
	margin-top: 5px;
}

.generators-label {
	font-size: 18px;
	margin: 25px;
}

.generated-content-item {
	font-size: 18px;
	margin: 10px;
}