<!-- HTML file containing the main page -->

{% extends "cs/createClient.html" %}

{% block creation %}
<script type="text/javascript">  
    function copyInputValue(findId) {
      // Get the text field
      var copyText = document.getElementById(findId).value;
      console.log(copyText)

      // Copy the text inside the text field
      navigator.clipboard.writeText(copyText);
    }
</script>

<div class="help-container">
    <a href="#" class="toggle-button-help" id="toggle-button-help">Nevíš si rady?</a>
    <div class="helptext" id="helptext">
        <p>
            Legenda
        </p>
        <br>
        <p>
            Tato sekce slouží k vytvoření dat pro fyzickou osobu.
        </p>
        <br>
        <p>
            Zde můžete pomocí Toolkitu vygenerovat kompletní informační balíček nezbytný pro vytvoření nového klienta pro účely testování.
        </p>
        <p>
            Použít funky jména je možnost generovat neexistující snadno zapamatovatelná jména.
        </p>
        <p>
            Pohlaví nastavuje pohlaví vytvářeného klienta.
        </p>
        <p>
            Volba nezletilý umožňuje nastavit vytvořeného klienta jako nezletilého.
        </p>
        <p>
            Pole Národnost nastavuje zemi původu vytvořeného klienta.
        </p>
    </div>
</div>

<form method="POST" action="/cs/createIndividual">
    <div class="creation-content">
        <table class="creation-table">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="10">                                        
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>                    
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="individualUseFunky">Použít Funky Jména</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-zero" type="checkbox" id="individualUseFunky" name="individualUseFunky" {{ "checked" if individualUseFunky == "on" }}>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="individualGender">Pohlaví</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="individualGender" id="individualGender">
                        <option value="male" {% if individualGender=="male" %} selected {% endif %}>Muž</option>
                        <option value="female" {% if individualGender=="female" %} selected {% endif %}>Žena</option>
                    </select>
                </td>
            </tr>   
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="individualIsMinor">Nezletilý?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-zero" type="checkbox" id="individualIsMinor" name="individualIsMinor" {{ "checked" if individualIsMinor == "on" }}>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="individualNationality">Národnost</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="individualNationality" id="individualNationality">
                        <option value="cz" {% if individualNationality=="cz" %} selected {% endif %}>CZ</option>
                        <option value="eu" {% if individualNationality=="eu" %} selected {% endif %}>EU</option>
                        <option value="gb" {% if individualNationality=="gb" %} selected {% endif %}>GB</option>
                        <option value="us" {% if individualNationality=="us" %} selected {% endif %}>USA</option>
                    </select>
                </td>
            </tr>       
            <tr class="generators-input-track">
                <td colspan="2">
                    <input class="generators-button" type="submit" value="Vygenerovat">                        
                </td>
            </tr>
        </table>
    </div>
</form>
{% if individualCreated|length > 0 %}
<div class="creation-content-lower">
    <div class="generated-content-title">Klient</div>
    <div class="creation-content-line">
        <label class="generators-label-created">Jméno: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualNameInput" type="text" name="individualNameInput" value="{{individualCreated[0][0]}} {{individualCreated[0][1]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualNameInput')" style="float: right;"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Datum narození: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualDOBInput" type="text" name="individualDOBInput" value="{{individualCreated[4]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualDOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        {% if individualNationality == "cz" %}
        <label class="generators-label-created">RČ: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualPIDInput" type="text" name="individualPIDInput" value="{{individualCreated[5]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualPIDInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Číslo OP: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualPassInput" type="text" name="individualPassInput" value="{{individualCreated[3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualPassInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        {% endif %}
        {% if individualNationality != "cz" %}
        <label class="generators-label-created">Číslo pasu: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualPassInput" type="text" name="individualPassInput" value="{{individualCreated[3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualPassInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        {% endif %}
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Adresa: </label>
        <div class="creation-content-line-inner">             
            <input class="generators-input-created" id="individualAddressInput" type="text" name="individualAddressInput" value="{{individualCreated[1][0]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualAddressInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Město narození: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualCOBInput" type="text" name="individualCOBInput" value="{{individualCreated[1][1]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualCOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Země narození: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualCountryOBInput" type="text" name="individualCountryOBInput" value="{{individualCreated[6]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualCountryOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Telefon: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualPhoneInput" type="text" name="individualPhoneInput" value="{{individualCreated[2]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualPhoneInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Username: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualUsernameInput" type="text" name="individualUsernameInput" value="{{individualCreated[0][2]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualUsernameInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Email: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="individualMailInput" type="text" name="individualMailInput" value="{{individualCreated[0][3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('individualMailInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
{% endif %}

<script type="text/javascript">
    const helpButton = document.getElementById('toggle-button-help')
    const helptext = document.getElementById('helptext')

    helpButton.addEventListener('click', () => {
      helptext.classList.toggle('active')
    })
</script>

{% endblock %}