<!-- HTML file containing the main page -->

{% extends "cs/createClient.html" %}

{% block creation %}
<script type="text/javascript">  
    function showPopUp() {
        var popup = document.getElementById("legend");
        popup.classList.toggle("show");
    }

    function copyInputValue(findId) {
      // Get the text field
      var copyText = document.getElementById(findId).value;
      console.log(copyText)

      // Copy the text inside the text field
      navigator.clipboard.writeText(copyText);
    }

</script>
<form method="POST" action="/cs/createLegalEntity">
    <div class="creation-content">
        <div class="popup" onclick="showPopUp()">Nevíš si rady?
            <span class="popuptextCS" id="legend">
                <p>
                    Legenda
                </p>
                <p>
                    Tato sekce slouží k vytvoření dat pro právnickou osobu. Oproti datům jednotlivce obsahuje i data specifická pro právnickou osobu.
                    Zde můžete pomocí Toolkitu vygenerovat kompletní informační balíček nezbytný pro vytvoření nového klienta pro účely testování.
                    Použít funky jména je možnost generovat neexistující snadno zapamatovatelná jména.
                    Pohlaví nastavuje pohlaví vytvářeného klienta.
                    Pole Národnost nastavuje zemi původu vytvořeného klienta.
                    Pole IČO umožňuje zvolit mezi existujícím nebo náhodně vygenerovaným číslem.
                </p>
            </span>
        </div>
        <table class="creation-table">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="10">                    
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>                    
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="legalUseFunky">Použít Funky Jména?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-zero" type="checkbox" id="legalUseFunky" name="legalUseFunky" {{ "checked" if legalUseFunky == "on" }}>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="legalGender">Pohlaví</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="legalGender" id="legalGender">
                        <option value="male" {% if legalGender=="male" %} selected {% endif %}>Muž</option>
                        <option value="female" {% if legalGender=="female" %} selected {% endif %}>Žena</option>
                    </select>
                </td>
            </tr>   
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="legalNationality">Národnost</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="legalNationality" id="legalNationality">
                        <option value="cz" {% if legalNationality=="cz" %} selected {% endif %}>CZ</option>
                        <option value="eu" {% if legalNationality=="eu" %} selected {% endif %}>EU</option>
                        <option value="gb" {% if legalNationality=="gb" %} selected {% endif %}>GB</option>
                        <option value="us" {% if legalNationality=="us" %} selected {% endif %}>USA</option>
                    </select>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="legalIco">IČO</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="legalIco" id="legalIco">
                        <option value="real" {% if legalIco=="real" %} selected {% endif %}>Existující</option>
                        <option value="random" {% if legalIco=="random" %} selected {% endif %}>Vygenerované</option>
                    </select>
                </td>
            </tr>        
            <tr class="generators-input-track">
                <td colspan="2">
                    <input class="generators-button" type="submit" value="Vygenerovat">                        
                </td>
            </tr>
        </table>
    </div>
</form>
{% if legalCreated|length > 0 %}
<div class="creation-content-lower">
    <div class="generated-content-title">Klient</div>
    <div class="creation-content-line">
        <label class="generators-label-created">Jméno: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalNameInput" type="text" name="legalNameInput" value="{{legalCreated[0][0]}} {{legalCreated[0][1]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalNameInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Datum narození: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalDOBInput" type="text" name="legalDOBInput" value="{{legalCreated[4]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalDOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
{% if bussinessNationality == "cz" %}
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">RČ: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalPIDInput" type="text" name="legalPIDInput" value="{{legalCreated[5]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalPIDInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Číslo OP: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalPassInput" type="text" name="legalPassInput" value="{{legalCreated[3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalPassInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
{% endif %}
{% if bussinessNationality != "cz" %}
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Číslo pasu: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalPassInput" type="text" name="legalPassInput" value="{{legalCreated[3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalPassInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
{% endif %}
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Adresa: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalAddressInput" type="text" name="legalAddressInput" value="{{legalCreated[1][0]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalAddressInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Město narození: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalCOBInput" type="text" name="legalCOBInput" value="{{legalCreated[1][1]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalCOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Země narození: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalCountryOBInput" type="text" name="legalCountryOBInput" value="{{legalCreated[6]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalCountryOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Telefon: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalPhoneInput" type="text" name="legalPhoneInput" value="{{legalCreated[2]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalPhoneInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Username: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalUsernameInput" type="text" name="legalUsernameInput" value="{{legalCreated[0][2]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalUsernameInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Email: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalMailInput" type="text" name="legalMailInput" value="{{legalCreated[0][3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalMailInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">IČO: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalCinInput" type="text" name="legalCinInput" value="{{legalCreated[7]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalCinInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Společnost: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalCompInput" type="text" name="legalCompInput" value="{{legalCreated[8]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalCompInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Datum založení: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalCreationInput" type="text" name="legalCreationInput" value="{{legalCreated[9]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalCreationInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Dokumentace: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalDocInput" type="text" name="legalDocInput" value="{{legalCreated[10]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalDocInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Právní založení: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalLegalInput" type="text" name="legalLegalInput" value="{{legalCreated[11]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalLegalInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">URL dokumentace: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="legalURLInput" type="text" name="legalURLInput" value="{{legalCreated[12]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('legalURLInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}