<!-- HTML file containing the main page -->

{% extends "cs/createClient.html" %}

{% block creation %}
<script type="text/javascript">  
    function copyInputValue(findId) {
      // Get the text field
      var copyText = document.getElementById(findId).value;
      console.log(copyText)

      // Copy the text inside the text field
      navigator.clipboard.writeText(copyText);
    }
</script>

<div class="help-container">
    <a href="#" class="toggle-button-help" id="toggle-button-help">Nevíš si rady?</a>
    <div class="helptext" id="helptext">
        <p>
            Legenda
        </p>
        <br>
        <p>
            Tato sekce slouží k vytvoření dat pro fyzickou firemní osobu. Oproti datům jednotlivce obsahuje i data specifická pro fyzickou firemní osobu.
        </p>
        <br>
        <p>
            Zde můžete pomocí Toolkitu vygenerovat kompletní informační balíček nezbytný pro vytvoření nového klienta pro účely testování.
        </p>
        <p>
            Použít funky jména je možnost generovat neexistující snadno zapamatovatelná jména.
        </p>
        <p>
            Pohlaví nastavuje pohlaví vytvářeného klienta.
        </p>
        <p>
            Pole Národnost nastavuje zemi původu vytvořeného klienta.
        </p>
        <p>
            Pole IČO umožňuje zvolit mezi existujícím nebo náhodně vygenerovaným číslem.
        </p>
    </div>
</div>

<form method="POST" action="/cs/createBussiness">
    <div class="creation-content">
        <table class="creation-table">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="10">                    
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="bussinessUseFunky">Použít Funky Jména?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-zero" type="checkbox" id="bussinessUseFunky" name="bussinessUseFunky" {{ "checked" if bussinessUseFunky == "on" }}>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="bussinessGender">Pohlaví</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="bussinessGender" id="bussinessGender">
                        <option value="male" {% if bussinessGender=="male" %} selected {% endif %}>Muž</option>
                        <option value="female" {% if bussinessGender=="female" %} selected {% endif %}>Žena</option>
                    </select>
                </td>
            </tr>   
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="bussinessNationality">Národnost</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="bussinessNationality" id="bussinessNationality">
                        <option value="cz" {% if bussinessNationality=="cz" %} selected {% endif %}>CZ</option>
                        <option value="eu" {% if bussinessNationality=="eu" %} selected {% endif %}>EU</option>
                        <option value="gb" {% if bussinessNationality=="gb" %} selected {% endif %}>GB</option>
                        <option value="us" {% if bussinessNationality=="us" %} selected {% endif %}>USA</option>
                    </select>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="bussinessIco">IČO</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="bussinessIco" id="bussinessIco">
                        <option value="real" {% if bussinessIco=="real" %} selected {% endif %}>Existující</option>
                        <option value="random" {% if bussinessIco=="random" %} selected {% endif %}>Vygenerované</option>
                    </select>
                </td>
            </tr>        
            <tr class="generators-input-track">
                <td colspan="2">
                    <input class="generators-button" type="submit" value="Vygenerovat">                        
                </td>
            </tr>
        </table>
    </div>
</form>
{% if bussinessCreated|length > 0 %}
<div class="creation-content-lower">
    <div class="generated-content-title">Klient</div>
    <div class="creation-content-line">
        <label class="generators-label-created">Jméno: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessNameInput" type="text" name="bussinessNameInput" value="{{bussinessCreated[0][0]}} {{bussinessCreated[0][1]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessNameInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Datum narození: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessDOBInput" type="text" name="bussinessDOBInput" value="{{bussinessCreated[4]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessDOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
{% if bussinessNationality == "cz" %}
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">RČ: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessPIDInput" type="text" name="bussinessPIDInput" value="{{bussinessCreated[5]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessPIDInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Číslo OP: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessPassInput" type="text" name="bussinessPassInput" value="{{bussinessCreated[3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessPassInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
{% endif %}
{% if bussinessNationality != "cz" %}
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Číslo pasu: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessPassInput" type="text" name="bussinessPassInput" value="{{bussinessCreated[3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessPassInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
{% endif %}
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Adresa: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessAddressInput" type="text" name="bussinessAddressInput" value="{{bussinessCreated[1][0]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessAddressInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Město narození: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessCOBInput" type="text" name="bussinessCOBInput" value="{{bussinessCreated[1][1]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessCOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Země narození: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessCountryOBInput" type="text" name="bussinessCountryOBInput" value="{{bussinessCreated[6]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessCountryOBInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">Telefon: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessPhoneInput" type="text" name="bussinessPhoneInput" value="{{bussinessCreated[2]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessPhoneInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Username: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessUsernameInput" type="text" name="bussinessUsernameInput" value="{{bussinessCreated[0][2]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessUsernameInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Email: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessMailInput" type="text" name="bussinessMailInput" value="{{bussinessCreated[0][3]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessMailInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
<div class="creation-content-lower">
    <div class="creation-content-line">
        <label class="generators-label-created">IČO: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessCinInput" type="text" name="bussinessCinInput" value="{{bussinessCreated[7]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessCinInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
        <label class="generators-label-created">Koncesní listina: </label>
        <div class="creation-content-line-inner">
            <input class="generators-input-created" id="bussinessCDNInput" type="text" name="bussinessCDNInput" value="{{bussinessCreated[8]}}" readonly>
            <button class="button-copy" onclick="copyInputValue('bussinessCDNInput')"><img src="{{ url_for('static',filename='copy.png') }}" class="copy-image"></button>
        </div>
    </div>
</div>
{% endif %}

<script type="text/javascript">
    const helpButton = document.getElementById('toggle-button-help')
    const helptext = document.getElementById('helptext')

    helpButton.addEventListener('click', () => {
      helptext.classList.toggle('active')
    })
</script>

{% endblock %}