<!-- HTML file containing the main page -->

{% extends "cs/base.html" %}

{% block content %}
<table class="client-table">
    <tr class="client-track">
        <td class="client-container">
            <div class="client-button-box">
                <a href="{{ url_for('main.CScreateIndividual') }}" class="client-item">
                    Fyzická Osoba
                </a>
                <a href="{{ url_for('main.CScreateLegalEntity') }}" class="client-item">
                    Právnická Osoba
                </a>
                <a href="{{ url_for('main.CScreateMinor') }}" class="client-item">
                    Nezletilý/Nesvéprávný
                </a>
            </div>
        </td>
    </tr>
</table>
<div class="main-container">
   {% block creation %}
   {% endblock %}
</div>

{% endblock %}