<!-- HTML file containing the main page -->

{% extends "base.html" %}

{% block content %}
<div class="spacer"></div>
<nav class="navbar-lower">
    <a href="#" class="toggle-button-lower" id="toggle-button-lower">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links-lower">
        <ul>
            <li><a href="{{ url_for('main.CSgenerateIBAN') }}">Vytvořit IBAN</a></li>
            <li><a href="{{ url_for('main.CSvalidateIBAN') }}">Validace IBAN</a></li>
            <li><a href="{{ url_for('main.CSgenerateSIPO') }}">SIPO</a></li>
            <li><a href="{{ url_for('main.CSgenerateCIN') }}">IČO</a></li>
            <li><a href="{{ url_for('main.CSgenerateDate') }}">Datum</a></li>
            <li><a href="{{ url_for('main.CSgenerateMail') }}">E-Mail</a></li>
            <li><a href="{{ url_for('main.CSgenerateNumber') }}">Telefoní číslo</a></li>
            <li><a href="{{ url_for('main.CSgenerateName') }}">Jména</a></li>
            <li><a href="{{ url_for('main.CSgenerateRandom') }}">Náhodná čísla</a></li>
        </ul>
    </div>
</nav>
<div class="main-container">
   {% block generation %}
   {% endblock %}
</div>

{% endblock %}