<!-- HTML file containing the main page -->

{% extends "cs/generators.html" %}

{% block generation %}
<script type="text/javascript">  
    function showPopUp() {
        var popup = document.getElementById("legend");
        popup.classList.toggle("show");
    }
</script>
<form method="POST" action="/cs/generateMail">
    <div class="creation-content">
        <div class="popup" onclick="showPopUp()">Nevíš si rady?
            <span class="popuptextCS" id="legend">
                <p>
                    Legenda
                </p>
                <p>
                    Zde můžete generovat náhodné e-mailové adresy. Můžete nastavit, kolik se jich bude generovat najednou. V tomto generátoru je adresa generována ze jména.
                    Jméno se vygeneruje na pozadí, ale národnost osoby můžete ovlivnit. Dále si můžete vybrat formát jména v adrese a jako poslední můžete nastavit konkrétního poskytovatele, nebo nechat generátor náhodně vybrat.
                </p>
            </span>
        </div>
        <table class="creation-table">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="10">                    
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>                    
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">            
                    <label class="generators-label" for="howManyEMails">Kolik e-mailů?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input" type="number" id="howManyEMails" name="howManyEMails" min="1" max="50" value="{{howManyEMails}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="eMailGenGender">Pohlaví</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="eMailGenGender" id="eMailGenGender">
                        <option value="male" {% if eMailGenGender=="male" %} selected {% endif %}>Muž</option>
                        <option value="female" {% if eMailGenGender=="female" %} selected {% endif %}>Žena</option>
                    </select>
                </td>
            </tr> 
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="eMailNamePart">Jméno</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input-wide" name="eMailNamePart" id="eMailNamePart">
                        <option value="fullName" {% if eMailNamePart=="fullName" %} selected {% endif %}>Celé jméno</option>
                        <option value="fullNameDot" {% if eMailNamePart=="fullNameDot" %} selected {% endif %}>Celé jméno s tečkou</option>
                        <option value="fullNameShort" {% if eMailNamePart=="fullNameShort" %} selected {% endif %}>Celé jméno zkrácené</option>
                        <option value="firstNameNumber" {% if eMailNamePart=="firstNameNumber" %} selected {% endif %}>Křestní jméno s číslem</option>
                        <option value="lastNameNumber" {% if eMailNamePart=="lastNameNumber" %} selected {% endif %}>Příjmení s číslem</option>
                    </select>
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="eMailProvPart">Provider</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input-wide" name="eMailProvPart" id="eMailProvPart">
                        <option value="random" {% if eMailProvPart=="random" %} selected {% endif %}>Náhodné</option>
                        <option value="mailinator.com" {% if eMailProvPart=="mailinator.com" %} selected {% endif %}>Mailinator</option>
                        <option value="yahoo.com" {% if eMailProvPart=="yahoo.com" %} selected {% endif %}>Yahoo</option>
                        <option value="gmail.com" {% if eMailProvPart=="gmail.com" %} selected {% endif %}>Gmail</option>
                        <option value="hotmail.com" {% if eMailProvPart=="hotmail.com" %} selected {% endif %}>Hotmail</option>
                        <option value="quigley.net" {% if eMailProvPart=="quigley.net" %} selected {% endif %}>Quigley</option>
                        <option value="quick.net" {% if eMailProvPart=="quick.net" %} selected {% endif %}>Quick</option>
                        <option value="volny.cz" {% if eMailProvPart=="volny.cz" %} selected {% endif %}>Volny</option>
                        <option value="seznam.cz" {% if eMailProvPart=="seznam.cz" %} selected {% endif %}>Seznam</option>
                    </select>
                </td>
            </tr> 
            <tr class="generators-input-track">
                <td colspan="10">
                    <input class="generators-button" type="submit" value="Vygenerovat">                        
                </td>
            </tr>
        </table>
    </div>
    {% if results|length > 0 %}
        <div class="creation-content">
            <div class="generated-content-title">Vygenerované E-Maily</div>
            {% for i in results %}
                <content class="generated-content-item" style="white-space: nowrap;">{{ i }} </content>
            {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock %}