<!-- HTML file containing the main page -->

{% extends "cs/generators.html" %}

{% block generation %}

<div class="help-container">
    <a href="#" class="toggle-button-help" id="toggle-button-help">Nevíš si rady?</a>
    <div class="helptext" id="helptext">
        <p>
            Legenda
        </p>
        <br>
        <p>
            Zde můžete generovat čísla IČO firem nebo jednotlivců. Můžete nastavit, kolik se jich bude generovat najednou.
        </p>
        <p>
            Můžete si také vybrat mezi dvěma režimy. Buď bude generátor čerpat z existujících čísel reálných firem, nebo vygeneruje zcela náhodné číslo.
        </p>
    </div>
</div>

<form method="POST" action="/cs/generateCIN">
    <div class="creation-content">
        <table class="creation-table">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="10">                    
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>                    
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">            
                    <label class="generators-label" for="howManyCINs">Kolik IČO?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input" type="number" id="howManyCINs" name="howManyCINs" min="1" max="50" value="{{howManyCINs}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="cinGenMode">Mód</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input-wide" name="cinGenMode" id="cinGenMode">
                        <option value="real" {% if cinGenMode=="real" %} selected {% endif %}>Existující</option>
                        <option value="random" {% if cinGenMode=="random" %} selected {% endif %}>Náhodně vygenerované</option>
                    </select>
                </td>
            </tr>  
            <tr class="generators-input-track">
                <td colspan="10">
                    <input class="generators-button" type="submit" value="Vygenerovat">                        
                </td>
            </tr>
        </table>
    </div>
    {% if results|length > 0 %}
        <div class="creation-content-lower">
            <div class="generated-content-title">Vygenerovaná IČO</div>
            {% for i in results %}
                <content class="generated-content-item" style="white-space: nowrap;">{{ i }} </content>
            {% endfor %}
        </div>
    {% endif %}
</form>

<script type="text/javascript">
    const helpButton = document.getElementById('toggle-button-help')
    const helptext = document.getElementById('helptext')

    helpButton.addEventListener('click', () => {
      helptext.classList.toggle('active')
    })
</script>

{% endblock %}