<!-- HTML file containing the main page -->

{% extends "cs/generators.html" %}

{% block generation %}

<div class="help-container">
    <a href="#" class="toggle-button-help" id="toggle-button-help">Nevíš si rady?</a>
    <div class="helptext" id="helptext">
        <p>
            Legenda
        </p>
        <br>
        <p>
            Zde můžete vygenerovat náhodné osobní jméno na základě několika parametrů. Můžete si vybrat, kolik jmen bude vygenerováno.
        </p>
        <p>
            Dále můžete rozlišovat mezi mužskými a ženskými jmény a nakonec můžete vybrat národnost. Národnost ovlivňuje sadu, ze které jsou jména generována.
        </p>
    </div>
</div>

<form method="POST" action="/cs/generateName">
    <div class="creation-content">
        <table class="creation-table">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="10">                    
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>                                      
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">            
                    <label class="generators-label" for="howManyNames">Kolik jmen?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input" type="number" id="howManyNames" name="howManyNames" min="1" max="50" value="{{howManyNames}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="nameGenGender">Pohlaví</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="nameGenGender" id="nameGenGender">
                        <option value="male" {% if nameGenGender=="male" %} selected {% endif %}>Muž</option>
                        <option value="female" {% if nameGenGender=="female" %} selected {% endif %}>Žena</option>
                    </select>
                </td>
            </tr> 
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="nameGenNationality">Národnost</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="nameGenNationality" id="nameGenNationality">
                        <option value="cz" {% if nameGenNationality=="cz" %} selected {% endif %}>CZ</option>
                        <option value="eu" {% if nameGenNationality=="eu" %} selected {% endif %}>EU</option>
                        <option value="gb" {% if nameGenNationality=="gb" %} selected {% endif %}>GB</option>
                        <option value="us" {% if nameGenNationality=="us" %} selected {% endif %}>USA</option>
                    </select>
                </td>
            </tr> 
            <tr class="generators-input-track">
                <td colspan="10">
                    <input class="generators-button" type="submit" value="Vygenerovat">                        
                </td>
            </tr>
        </table>
    </div>
    {% if results|length > 0 %}
        <div class="creation-content-lower">
            <div class="generated-content-title">Vygenerovaná jména</div>
            {% for i in results %}
                <content class="generated-content-item" style="white-space: nowrap;">{{ i }} </content>
            {% endfor %}
        </div>
    {% endif %}
</form>

<script type="text/javascript">
    const helpButton = document.getElementById('toggle-button-help')
    const helptext = document.getElementById('helptext')

    helpButton.addEventListener('click', () => {
      helptext.classList.toggle('active')
    })
</script>

{% endblock %}