<!-- HTML file containing the main page -->

{% extends "cs/generators.html" %}

{% block generation %}

<div class="help-container">
    <a href="#" class="toggle-button-help" id="toggle-button-help">Nevíš si rady?</a>
    <div class="helptext" id="helptext">
        <p>
            Legenda
        </p>
        <br>
        <p>
            Zde můžete vygenerovat náhodné telefonní číslo doplněné o volací kódy zemí. Můžete nastavit, kolik jmen se bude generovat, a národnost držitele.
        </p>
    </div>
</div>

<form method="POST" action="/cs/generateNumber">
    <div class="creation-content">
        <table class="creation-table">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="10">                    
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>                    
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">            
                    <label class="generators-label" for="howManyPNumbers">Kolik čísel?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input" type="number" id="howManyPNumbers" name="howManyPNumbers" min="1" max="50" value="{{howManyPNumbers}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="numGenNationality">Národnost</label>
                </td>
                <td class="generators-input-column">
                    <select class="generators-input" name="numGenNationality" id="numGenNationality">
                        <option value="cz" {% if numGenNationality=="cz" %} selected {% endif %}>CZ</option>
                        <option value="it" {% if numGenNationality=="it" %} selected {% endif %}>IT</option>
                        <option value="de" {% if numGenNationality=="de" %} selected {% endif %}>DE</option>
                        <option value="fr" {% if numGenNationality=="fr" %} selected {% endif %}>FR</option>
                        <option value="es" {% if numGenNationality=="es" %} selected {% endif %}>ES</option>
                        <option value="se" {% if numGenNationality=="se" %} selected {% endif %}>SE</option>
                        <option value="gb" {% if numGenNationality=="gb" %} selected {% endif %}>GB</option>
                        <option value="us" {% if numGenNationality=="us" %} selected {% endif %}>USA</option>
                    </select>
                </td>
            </tr> 
            <tr class="generators-input-track">
                <td colspan="10">
                    <input class="generators-button" type="submit" value="Vygenerovat">                        
                </td>
            </tr>
        </table>
    </div>
    {% if results|length > 0 %}
        <div class="creation-content-lower">
            <div class="generated-content-title">Vygenerovaná telefoní čísla</div>
            {% for i in results %}
                <content class="generated-content-item" style="white-space: nowrap;">{{ i }} </content>
            {% endfor %}
        </div>
    {% endif %}
</form>

<script type="text/javascript">
    const helpButton = document.getElementById('toggle-button-help')
    const helptext = document.getElementById('helptext')

    helpButton.addEventListener('click', () => {
      helptext.classList.toggle('active')
    })
</script>

{% endblock %}