<!-- HTML file containing the main page -->

{% extends "cs/base.html" %}

{% block content %}
<table class="client-table">
    <tr class="client-track">
        <td class="client-container">
            <div class="client-button-box">
                <a href="{{ url_for('main.CSgenerateIBAN') }}" class="client-item">
                    IBAN
                </a>
                <a href="{{ url_for('main.CSgenerateSIPO') }}" class="client-item">
                    SIPO
                </a>
                <a href="{{ url_for('main.CSgenerateCIN') }}" class="client-item">
                    IČO
                </a>
                <a href="{{ url_for('main.CSgenerateDate') }}" class="client-item">
                    Datum
                </a>
                <a href="{{ url_for('main.CSgenerateMailNumber') }}" class="client-item">
                    E-Mail / Telefoní číslo
                </a>
                <a href="{{ url_for('main.CSgenerateRandom') }}" class="client-item">
                    Náhodná čísla
                </a>
            </div>
        </td>
    </tr>
</table>
<div class="main-container">
   {% block generation %}
   {% endblock %}
</div>

{% endblock %}