<!-- HTML file containing the main page -->

{% extends "cs/generators.html" %}

{% block generation %}
<script type="text/javascript">  
    function showPopUp() {
        var popup = document.getElementById("legend");
        popup.classList.toggle("show");
    }
</script>
<form method="POST" action="/cs/generateDate">
    <div class="creation-content">
        <div class="popup" onclick="showPopUp()">Nevíš si rady?
            <span class="popuptextCS" id="legend">
                <p>
                    Legenda
                </p>
                <p>
                    Zde můžete generovat náhodná data v rámci zadaných parametrů. Můžete nastavit, kolik dat bude generováno najednou. Poté si můžete vybrat počáteční a koncové datum.
                    Data lze generovat z libovolného bodu v minulosti, současnosti nebo budoucnosti.
                </p>
            </span>
        </div>
        <table class="creation-table">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <tr class="creation-track">
                <td class="creation-column" colspan="10">
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>                    
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column">            
                    <label class="generators-label" for="howManyDates">Kolik Datumů?</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input" type="number" id="howManyDates" name="howManyDates" min="1" max="50" value="{{howManyDates}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="dateStart">Počáteční Datum:</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-wide" type="date" id="dateStart" name="dateStart" value="{{dateStart}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td class="generators-input-column">
                    <label class="generators-label" for="dateEnd">Konečné Datum:</label>
                </td>
                <td class="generators-input-column">
                    <input class="generators-input-wide" type="date" id="dateEnd" name="dateEnd" value="{{dateEnd}}">
                </td>
            </tr> 
            <tr class="generators-input-track">
                <td colspan="10">
                    <input class="generators-button" type="submit" value="Vygenerovat">
                </td>
            </tr>
        </table>
    </div>
    {% if results|length > 0 %}
        <div class="creation-content">
            <div class="generated-content-title">Vygenerovaná data</div>
            {% for i in results %}
                <content class="generated-content-item" style="white-space: nowrap;">{{ i }} </content>
            {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock %}