<!-- HTML file containing the main page -->

{% extends "cs/base.html" %}

{% block content %}
<div>
    <h2>
    Tester Toolkit je nástroj pro vytváření dat pro účely testování klientů.
  </h2>
  <h2>
    Seznam nástrojů zahrnuje:
  </h2>
  <h2>
    Tvorbu kompletních dat pro vytvoření nového uživatele (právnické, fyzické, firemní i nesvéprávné)
  </h2>
  <h2>
    Generování a validace IBAN
  </h2>
  <h2>
    Generování SIPO čísel
  </h2>
  <h2>
    Generování IČO
  </h2>
  <h2>
    Generování jmen, datumů, telefoních čísel, e-mailů a náhodných čísel 
  </h2>
</div>
{% endblock %}