<!-- HTML file containing the main page -->

{% extends "cs/base.html" %}

{% block content %}
<div>
  <h2>
    Vzhled stránek je zatím dost základní, ale s tím se můžeme poprat až to bude fungovat.
  </h2>
  <h2>
    Do systému už se dá přihlásit
  </h2>
  <h2>
    Vytváření nových účtů je omezeno jen pro administrátorské účty
  </h2>
  <h2>
    Pracuju na frameworku pro vytváření klientů a generování náhodných čísel a dat
  </h2>
  <h2>
    Přepínání jazyků funguje 
  </h2>
  <h2>
    Vytvářím random number generator
  </h2>
</div>
{% endblock %}