<!-- HTML file containing the main page -->

{% extends "cs/generators.html" %}

{% block generation %}
<script type="text/javascript">  
    function showPopUp() {
        var popup = document.getElementById("legend");
        popup.classList.toggle("show");
    }
</script>
<form method="POST" action="/cs/validateIBAN">
    <div class="creation-content">
        <div class="popup" onclick="showPopUp()">Nevíš si rady?
            <span class="popuptextCS" id="legend">
                <p>
                    Legenda
                </p>
                <p>
                    Tato část Toolkitu vám umožňuje zkontrolovat, zda je číslo IBAN platné, nebo zda se vyskytla nějaká chyba nebo překlep, který by vedl k neúspěšné transakci.
                </p>
            </span>
        </div>
        <table class="creation-table">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <tr class="creation-track">
                        <td class="creation-column" colspan="2">
                            {% for category, message in messages %}
                                <div class="{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endwith %}
            <tr class="generators-input-track">
                <td class="generators-input-column-l">            
                    <label class="generators-label" for="ibanValNumber">IBAN k validaci</label>
                </td>
                <td class="generators-input-column-r">
                    <input class="generators-input-wide" type="text" id="ibanValNumber" name="ibanValNumber" value="{{ibanValNumber}}">
                </td>
            </tr>
            <tr class="generators-input-track">
                <td colspan="10">
                    <input class="generators-button" type="submit" value="Validace">                        
                </td>
            </tr>
        </table>
    </div>
    {% if results|length > 0 %}
    <div class="creation-content-lower">
        <div class="generated-content-title">IBAN Info</div>
        <table class="creation-table-created">
            <tr class="creation-track">
                <td class="creation-column" colspan="4">
                    <label class="generators-label-created">Zformátováno: </label>
                </td>
            </tr>
            <tr class="creation-track">
                <td class="creation-column" colspan="4">
                    <input class="generators-input-created" id="ibanFormated" type="text" name="ibanFormated" value="{{results[0]}}" readonly>
                </td>
            </tr>
            <tr class="creation-track">
            </tr>
            <tr class="creation-track">
                <td class="creation-column">
                    <label class="generators-label-created">BIC: </label>
                </td>
                <td class="creation-column">
                    <input class="generators-input-created" id="ibanBic" type="text" name="ibanBic" value="{{results[5]}}" readonly>
                </td>
                <td class="creation-column">
                    <label class="generators-label-created">Kód Banky: </label>
                </td>
                <td class="creation-column">
                    <input class="generators-input-created" id="ibanBankCode" type="text" name="ibanBankCode" value="{{results[2]}}" readonly>
                </td>
            </tr>
            
            <tr class="creation-track">
                <td class="creation-column">
                    <label class="generators-label-created">Číslo Účtu: </label>
                </td>
                <td class="creation-column">
                    <input class="generators-input-created" id="ibanAccount" type="text" name="ibanAccount" value="{{results[3]}}" readonly>
                </td>
                <td class="creation-column">
                    <label class="generators-label-created">Země: </label>
                </td>
                <td class="creation-column">
                    <input class="generators-input-created" id="ibanCountryName" type="text" name="ibanCountryName" value="{{results[1]}}  {{results[6]}}" readonly>
                </td>
            </tr>
        </table>
    </div>
    {% endif %}
</form>
{% endblock %}